
@page
@model MTM_Holidays.Pages.OrderHolidays.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order_Holiday</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order_Holiday.Discount" class="control-label"></label>
                <input asp-for="Order_Holiday.Discount" class="form-control" />
                <span asp-validation-for="Order_Holiday.Discount" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Order_Holiday.IsPaid" /> @Html.DisplayNameFor(model => model.Order_Holiday.IsPaid)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Order_Holiday.StartDate" class="control-label"></label>
                <input asp-for="Order_Holiday.StartDate" class="form-control" />
                <span asp-validation-for="Order_Holiday.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Holiday.EndDate" class="control-label"></label>
                <input asp-for="Order_Holiday.EndDate" class="form-control" />
                <span asp-validation-for="Order_Holiday.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order_Holiday.HolidayID" class="control-label"></label>
                <select asp-for="Order_Holiday.HolidayID" class ="form-control" asp-items="ViewBag.HolidayID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order_Holiday.OrderID" class="control-label"></label>
                <select asp-for="Order_Holiday.OrderID" class ="form-control" asp-items="ViewBag.OrderID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Order_Holiday.DiscountCodeID" class="control-label"></label>
                <select asp-for="Order_Holiday.DiscountCodeID" class ="form-control" asp-items="ViewBag.DiscountCodeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
