@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto" style="color: var(--bs-white);">
                <div class="text-center">
                    <h1 class="display-4 fw-bold"><span style="background-color: rgb(2, 62, 115);">&nbsp;MTM&nbsp;</span></h1>
                    <h3 class="fw-bold text-dark">Holidays&nbsp;<span style="text-decoration: underline; text-decoration-color: #F27052;">sorted</span>.</h3>
                    <p class="fs-5 text-muted mt-5">Search our extensive offer for your next beach holidays.</p>
                    <form class="d-flex justify-content-center flex-wrap" method="post">
                        <div class="shadow-lg mb-3"><input class="form-control" type="text" name="search" placeholder="Your next holiday..."></div>
                        <div class="shadow-lg mb-3"><button class="btn btn-primary" type="submit" style="background: rgb(2,62,115);">Search</button></div>
                        <div class="col-12 col-lg-10 d-inline-block float-end mx-auto">
                            <div class="text-center position-relative"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>


<br /><br />

<div id="demo" class="carousel slide" data-bs-ride="carousel" style="position:relative;">

 
    <div class="carousel-indicators" style="position:relative;">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
    </div>

 
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/assets/img/beach.jpg" alt="photo1" class="d-block" style="margin: auto; width: 800px; height: 500px;">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/chill.jpg" alt="photo2" class="d-block" style="margin: auto; width: 800px; height: 500px; ">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/resort.jpg" alt="photo3" class="d-block" style="margin: auto; width: 800px; height: 500px;">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/bluewater.jpg" alt="photo4" class="d-block" style="margin: auto; width: 800px; height: 500px;">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/people.jpg" alt="photo5" class="d-block" style="margin: auto; width: 800px; height: 500px;">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/family.jpg" alt="photo6" class="d-block" style="margin: auto; width: 800px; height: 500px;">
        </div>
        <div class="carousel-item">
            <img src="~/assets/img/activity.jpg" alt="photo7" class="d-block" style="margin: auto; width: 800px; height: 500px;">
        </div>
    </div>

  
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev" style="left:15%;">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next" style="right:15%;">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

    
    <br /><br />
    


    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Start Your Journey 👋 </h1>
            <p class="lead text-muted">The most searched destinations this month ⬇️ </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                @foreach (var holiday in Model.Holidays)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img src="@Url.Content(holiday.Pictures[0].URL)" class="card-img-top" style="width:345px; height:240px; position:relative;">
                            <div class="card-body">
                                <h4 class="card-text">@holiday.Title</h4>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a type="button" asp-route-id="@holiday.ID" asp-page="/Details" class="btn btn-sm btn-outline-secondary">View details</a>
                                        <a type="button" asp-route-id="@holiday.ID" asp-page="/Order" class="btn btn-sm btn-outline-secondary">Book a holiday</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
<div class="button" style="right:150px;position:absolute;">
<p>
        <a href="#" class="btn btn-primary my-4" style="left:100px;right:100px; align:center;background-color: rgb(2, 62, 115)">All holiday offers</a>
    </p>
</div>
<br /><br />

<section>
    <div class="container py-4 py-xl-5">
        <div class="row">
            <div class="col-md-6">
                <h3 class="display-6 fw-bold pb-md-4">Book your next destination:&nbsp;<span style="text-decoration: underline; text-decoration-color: #F27052;">beach</span>!</h3>
            </div>
            <div class="col-md-6 pt-4">
                <p class="text-muted mb-4">No deposits needed! Our&nbsp;<strong>beach holidays</strong>&nbsp;bag you access to some of the world's most famous beaches.Never pay more than you should for holiday - Prices start at only £99 per person per day!</p>
            </div>
        </div>
        <div class="row gy-4 gy-md-0">
            <div class="col-md-6 d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                <div>
                    <div class="row gy-2 row-cols-1 row-cols-sm-2">
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-exchange fs-3 text-light" style="background: rgb(242,113,82);">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="5" cy="18" r="2"></circle>
                                    <circle cx="19" cy="6" r="2"></circle>
                                    <path d="M19 8v5a5 5 0 0 1 -5 5h-3l3 -3m0 6l-3 -3"></path>
                                    <path d="M5 16v-5a5 5 0 0 1 5 -5h3l-3 -3m0 6l3 -3"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Flexible</h5>
                            </div>
                            <p class="text-muted my-3">Our holidays are safe and easy to rebook in case your plans change. We accept free rebooking up to 24 hours before your holidays. No fees!</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-sun fs-3 text-light" style="background: rgb(242,113,82);">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="12" r="4"></circle>
                                    <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Fantastic</h5>
                            </div>
                            <p class="text-muted my-3">We provide the best and most famous beach destinations for your comfort. Just simply search for your favourite destination!</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-thumb-up fs-3 text-light" style="background: rgb(242,113,82);">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M7 11v8a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1v-7a1 1 0 0 1 1 -1h3a4 4 0 0 0 4 -4v-1a2 2 0 0 1 4 0v5h3a2 2 0 0 1 2 2l-1 5a2 3 0 0 1 -2 2h-7a3 3 0 0 1 -3 -3"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Easy</h5>
                            </div>
                            <p class="text-muted my-3">Just book the dates, pay and enjoy... Let the rest with us!</p>
                        </div>
                        <div class="col text-center text-md-start">
                            <div class="d-flex justify-content-center align-items-center justify-content-md-start">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-currency-pound fs-3 text-light" style="background: rgb(242,113,82);">
                                    <path d="M4 8.585h1.969c.115.465.186.939.186 1.43 0 1.385-.736 2.496-2.075 2.771V14H12v-1.24H6.492v-.129c.825-.525 1.135-1.446 1.135-2.694 0-.465-.07-.913-.168-1.352h3.29v-.972H7.22c-.186-.723-.372-1.455-.372-2.247 0-1.274 1.047-2.066 2.58-2.066a5.32 5.32 0 0 1 2.103.465V2.456A5.629 5.629 0 0 0 9.348 2C6.865 2 5.322 3.291 5.322 5.366c0 .775.195 1.515.399 2.247H4v.972z"></path>
                                </svg>
                                <h5 class="fw-bold mb-0 ms-2">Cheap</h5>
                            </div>
                            <p class="text-muted my-3">Get access to luxurious beach holidays starting at just £99 per person per day.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 order-first order-md-last p-4">
                <div><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="assets/img/illustrations/harshil-gudka-77zGnfU_SFU-unsplash.jpg"></div>
            </div>
        </div>
    </div>
</section>


<section class="py-4 py-xl-5">
    <div class="container">
        <div style="background-color: #a7e4f2;" class="text-white border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold mb-2" style="color:rgb(2, 62, 115) ; padding:right;">Discounts 10-30% off 💰 </h2>
                <p class="mb-0" style="color:black;" >With further cooperation with us, You can receive up to 10-30% discount for the next trips on our website,
            depending on the length of cooperation with us and the value of the orders. Thank You for using our services.</p>
            </div>
           
    </div>
</section>
<section class="py-4 py-xl-5">
    <div class="container">
        <div style="background-color: rgb(2, 62, 115);" class="text-white border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold mb-2" style="color: rgb(242,113,82);">Not sure which holiday suits you?</h2>
                <p class="mb-0">Or maybe you have some questions regarding our packages...</p>
            </div>
            <div class="my-2"><a class="btn btn-light fs-5 py-2 px-4" role="button" href="Contacts">Contact us!</a></div>
        </div>
    </div>
</section>

