@page
@model MTM_Holidays.Pages.PaymentModel
@{
    ViewData["Title"] = "Checkout";
}

<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="card shadow">
                <div class="card-body shadow-none" style="background: var(--bs-gray-200);border: 0.5px solid rgb(2,62,115) ;border-right-width: 0.5px;border-bottom-width: 0px;">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <p class="text-black-50"></p>
                                    <div class="row">
                                        <div class="col">
                                            <h1 style="text-align: center;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-credit-card-2-front-fill">
                                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zm0 3a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm3 0a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"></path>
                                                </svg>&nbsp;Order Checkout
                                            </h1>
                                            <h2 style="text-align: center;">Payment</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="border: 0.5px solid rgb(2,62,115);border-top-width: 0px;border-bottom-width: 0.5px;">
                    <div class="row">
                        <div class="col">
                            <p style="font-size: 18px;"><strong>Total</strong></p>
                        </div>
                        <div class="col">
                            <p class="text-end" style="font-size: 1.3em;">&nbsp;£ @Model.CalculateTotal()</p>
                        </div>
                    </div>
                    <hr style="color: rgb(0,0,0);">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="p-2 mb-4 rounded" style="border: 0.01em solid #023E73;">
                            <div>
                                <label class="form-label">Card Number *</label>
                                <input class="form-control" asp-for="CardPayment.CardNumber">
                                <span asp-validation-for="CardPayment.CardNumber" class="text-danger"></span>
                            </div>
                            <div class="mt-2">
                                <label class="form-label">Expiry Date *</label>
                                <div class="float-end">
                                    <label class="form-label">Security Code *</label>
                                    <input class="form-control" asp-for="CardPayment.SecurityCode">
                                    <span asp-validation-for="CardPayment.SecurityCode" class="text-danger"></span>
                                </div>
                                <input class="form-control w-50" asp-for="CardPayment.ExpiryDate" type="month">
                                <span asp-validation-for="CardPayment.ExpiryDate" class="text-danger"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-5"><a class="btn d-block w-100" asp-route-id="@Model.Order.ID" asp-page="/Checkout" style="background: var(--bs-card-bg);border-color: #023e73;">Go Back</a></div>
                            <div class="col"><button class="btn d-block w-100" asp-route-id="@Model.Order.ID" type="submit" style="background: #023e73; color:white;">Pay now</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>